<html>
 <head>
   <title>CHESS MADNESS ONLINE GAME</title>
   <link rel="stylesheet" href="/static/styles.css" />

 </head>
 <body>
    <h1>{{message}}</h1>

    <div id="content">
      <div>
        <table id="board" cellspacing="0" cellpadding="0">

        </table>
      </div>

      <div id="data">
        <p id="turn"></p>
        <p id="eaten_whites">Pieces eaten by the player of Whites: 0</p>
        <p id="eaten_blacks">Pieces eaten by the player of Blacks: 0</p>
        <button onclick="restartGame()">Normal Mode</button>
        <button onclick="gameAgainstTheClock()">Against the Clock Mode</button>
        <p id="time_whites">Not an against the clock game</p>
        <p id="time_blacks">Not an against the clock game</p>
      </div>
    </div>
    

   <script src="/static/functions.js"></script>
 </body>
</html>