<html>
 <head>
   <title>CHESS MADNESS ONLINE GAME</title>
   <link rel="stylesheet" href="/static/styles.css" />

 </head>
 <body>
    <h1>{{message}}</h1>

    <div id="content">
      <div>
        <table id="board" cellspacing="0" cellpadding="0">

        </table>
      </div>

      <div id="data">
        <p id="turno"></p>
        <p id="comidas_blancas">Pieces eaten by the player of Whites: 0</p>
        <p id="comidas_negras">Pieces eaten by the player of Blacks: 0</p>
        <button onclick="restartGame()">Normal Mode</button>
        <button onclick="partidaContrareloj()">Against the Clock Mode</button>
        <p id="tiempo_blancas">Not an against the clock game</p>
        <p id="tiempo_negras">Not an against the clock game</p>
      </div>
    </div>
    

   <script src="/static/funciones.js"></script>
 </body>
</html>